*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
main.sqlite
/app/src/main/assets/main.sqlite
/.gradle/
/.idea/
/build/
/gradle/
/app/build/
